body{ background-color: rgba(253, 1, 1, 0.425);
color: rgb(2, 2, 2);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
justify-content: center;
justify-items: center;
text-align: center;



}.imagem-cabecalho{width: 200px;
}

.titulo-cabecalho
 {display: inline-block;
margin: 0 16px; 
padding: 100px 0;
font-size: 40 px;} 

.cabecalho{
    background-color: rgb(255, 0, 0);
color: black;
display: flex;
justify-content: space-around;
padding: 20px 0;}

.cabecalho-item
{display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;}

.escola-imagem{
    width: 25%;
}